body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:490px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:490px;
}
#u2 {
  position:absolute;
  left:2px;
  top:237px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:10px;
  width:90px;
  height:20px;
  font-family:'HannotateTC-W7', 'Hannotate TC Bold', 'Hannotate TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-1px;
  width:86px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:340px;
  top:13px;
  width:361px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:10px;
  top:31px;
  width:691px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:674px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:691px;
  height:1px;
}
#u8 {
  position:absolute;
  left:120px;
  top:80px;
  width:10px;
  height:410px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:393px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:410px;
}
#u9 {
  position:absolute;
  left:10px;
  top:80px;
  width:100px;
  height:294px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:300px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:299px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u12 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:98px;
  width:100px;
  height:98px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u14 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:196px;
  width:100px;
  height:98px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u16 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:41px;
  width:691px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:29px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:140px;
  top:124px;
  width:100px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u20 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:200px;
  top:122px;
  width:8px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:260px;
  top:124px;
  width:100px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:380px;
  top:124px;
  width:100px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:380px;
  top:162px;
  width:200px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:140px;
  top:194px;
  width:560px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:543px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:560px;
  height:1px;
}
#u28 {
  position:absolute;
  left:140px;
  top:240px;
  width:560px;
  height:240px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:240px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:478px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:39px;
  top:0px;
  width:40px;
  height:40px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:79px;
  top:0px;
  width:63px;
  height:40px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:142px;
  top:0px;
  width:68px;
  height:40px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:210px;
  top:0px;
  width:53px;
  height:40px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:263px;
  top:0px;
  width:69px;
  height:40px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:332px;
  top:0px;
  width:55px;
  height:40px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:387px;
  top:0px;
  width:67px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:454px;
  top:0px;
  width:56px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:40px;
  width:39px;
  height:40px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:39px;
  top:40px;
  width:40px;
  height:40px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:79px;
  top:40px;
  width:63px;
  height:40px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:142px;
  top:40px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:210px;
  top:40px;
  width:53px;
  height:40px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:263px;
  top:40px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:332px;
  top:40px;
  width:55px;
  height:40px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:387px;
  top:40px;
  width:67px;
  height:40px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:454px;
  top:40px;
  width:56px;
  height:40px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:80px;
  width:39px;
  height:40px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:39px;
  top:80px;
  width:40px;
  height:40px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:79px;
  top:80px;
  width:63px;
  height:40px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:142px;
  top:80px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:210px;
  top:80px;
  width:53px;
  height:40px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u75 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:263px;
  top:80px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:332px;
  top:80px;
  width:55px;
  height:40px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:387px;
  top:80px;
  width:67px;
  height:40px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:454px;
  top:80px;
  width:56px;
  height:40px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:120px;
  width:39px;
  height:40px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:39px;
  top:120px;
  width:40px;
  height:40px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:79px;
  top:120px;
  width:63px;
  height:40px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:142px;
  top:120px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:210px;
  top:120px;
  width:53px;
  height:40px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:263px;
  top:120px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u95 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:332px;
  top:120px;
  width:55px;
  height:40px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:387px;
  top:120px;
  width:67px;
  height:40px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:454px;
  top:120px;
  width:56px;
  height:40px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:160px;
  width:39px;
  height:40px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:39px;
  top:160px;
  width:40px;
  height:40px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:79px;
  top:160px;
  width:63px;
  height:40px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:142px;
  top:160px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:210px;
  top:160px;
  width:53px;
  height:40px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u111 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:263px;
  top:160px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u113 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:332px;
  top:160px;
  width:55px;
  height:40px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:387px;
  top:160px;
  width:67px;
  height:40px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:454px;
  top:160px;
  width:56px;
  height:40px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u119 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:200px;
  width:39px;
  height:40px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:39px;
  top:200px;
  width:40px;
  height:40px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:79px;
  top:200px;
  width:63px;
  height:40px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:142px;
  top:200px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:210px;
  top:200px;
  width:53px;
  height:40px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:263px;
  top:200px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:332px;
  top:200px;
  width:55px;
  height:40px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:387px;
  top:200px;
  width:67px;
  height:40px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:454px;
  top:200px;
  width:56px;
  height:40px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u137 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:240px;
  width:39px;
  height:40px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u139 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:39px;
  top:240px;
  width:40px;
  height:40px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:79px;
  top:240px;
  width:63px;
  height:40px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:142px;
  top:240px;
  width:68px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u145 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:210px;
  top:240px;
  width:53px;
  height:40px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u147 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:263px;
  top:240px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u149 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:332px;
  top:240px;
  width:55px;
  height:40px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u151 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:387px;
  top:240px;
  width:67px;
  height:40px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u153 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:454px;
  top:240px;
  width:56px;
  height:40px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u155 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:280px;
  width:39px;
  height:40px;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u157 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:39px;
  top:280px;
  width:40px;
  height:40px;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:79px;
  top:280px;
  width:63px;
  height:40px;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:142px;
  top:280px;
  width:68px;
  height:40px;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:210px;
  top:280px;
  width:53px;
  height:40px;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u165 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:263px;
  top:280px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:332px;
  top:280px;
  width:55px;
  height:40px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:387px;
  top:280px;
  width:67px;
  height:40px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:454px;
  top:280px;
  width:56px;
  height:40px;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:320px;
  width:39px;
  height:58px;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:58px;
}
#u175 {
  position:absolute;
  left:2px;
  top:22px;
  width:35px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:39px;
  top:320px;
  width:40px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u177 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:79px;
  top:320px;
  width:63px;
  height:58px;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u179 {
  position:absolute;
  left:2px;
  top:14px;
  width:59px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:142px;
  top:320px;
  width:68px;
  height:58px;
  text-align:center;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
}
#u181 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:210px;
  top:320px;
  width:53px;
  height:58px;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:58px;
}
#u183 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:263px;
  top:320px;
  width:69px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:58px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:332px;
  top:320px;
  width:55px;
  height:58px;
  text-align:center;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:58px;
}
#u187 {
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:387px;
  top:320px;
  width:67px;
  height:58px;
  text-align:center;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u189 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:454px;
  top:320px;
  width:56px;
  height:58px;
  text-align:center;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u191 {
  position:absolute;
  left:2px;
  top:22px;
  width:52px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:378px;
  width:39px;
  height:40px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u193 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:39px;
  top:378px;
  width:40px;
  height:40px;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u195 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:79px;
  top:378px;
  width:63px;
  height:40px;
  text-align:center;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u197 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:142px;
  top:378px;
  width:68px;
  height:40px;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u199 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:210px;
  top:378px;
  width:53px;
  height:40px;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u201 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:263px;
  top:378px;
  width:69px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:332px;
  top:378px;
  width:55px;
  height:40px;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u205 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:387px;
  top:378px;
  width:67px;
  height:40px;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u207 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:454px;
  top:378px;
  width:56px;
  height:40px;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u209 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:0px;
  top:418px;
  width:39px;
  height:55px;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u211 {
  position:absolute;
  left:2px;
  top:20px;
  width:35px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:39px;
  top:418px;
  width:40px;
  height:55px;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:55px;
}
#u213 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:79px;
  top:418px;
  width:63px;
  height:55px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:55px;
}
#u215 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:142px;
  top:418px;
  width:68px;
  height:55px;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:55px;
}
#u217 {
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:210px;
  top:418px;
  width:53px;
  height:55px;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u219 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:263px;
  top:418px;
  width:69px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:55px;
}
#u221 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:332px;
  top:418px;
  width:55px;
  height:55px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u223 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:387px;
  top:418px;
  width:67px;
  height:55px;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u225 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:454px;
  top:418px;
  width:56px;
  height:55px;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u227 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:530px;
  top:52px;
  width:20px;
  height:16px;
}
#u229 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u230 {
  position:absolute;
  left:530px;
  top:94px;
  width:20px;
  height:16px;
}
#u231 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u232 {
  position:absolute;
  left:530px;
  top:130px;
  width:20px;
  height:16px;
}
#u233 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u234 {
  position:absolute;
  left:530px;
  top:172px;
  width:20px;
  height:16px;
}
#u235 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u236 {
  position:absolute;
  left:530px;
  top:212px;
  width:20px;
  height:16px;
}
#u237 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u238 {
  position:absolute;
  left:530px;
  top:254px;
  width:20px;
  height:16px;
}
#u239 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u240 {
  position:absolute;
  left:530px;
  top:300px;
  width:20px;
  height:16px;
}
#u241 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u242 {
  position:absolute;
  left:530px;
  top:342px;
  width:20px;
  height:16px;
}
#u243 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u244 {
  position:absolute;
  left:530px;
  top:390px;
  width:20px;
  height:16px;
}
#u245 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u246 {
  position:absolute;
  left:530px;
  top:432px;
  width:20px;
  height:16px;
}
#u247 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u249 {
  position:absolute;
  left:140px;
  top:82px;
  width:400px;
  height:30px;
}
#u249_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u252 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u254 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u256 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u258 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:500px;
  top:124px;
  width:140px;
  height:22px;
}
#u259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u259_input:disabled {
  color:grayText;
}
#u260 {
  position:absolute;
  left:140px;
  top:162px;
  width:100px;
  height:22px;
}
#u260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u260_input:disabled {
  color:grayText;
}
#u261 {
  position:absolute;
  left:260px;
  top:162px;
  width:100px;
  height:22px;
}
#u261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u261_input:disabled {
  color:grayText;
}
#u262 {
  position:absolute;
  left:600px;
  top:162px;
  width:80px;
  height:22px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u263 {
  position:absolute;
  left:140px;
  top:204px;
  width:100px;
  height:18px;
}
#u264 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u263_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u265 {
  position:absolute;
  left:508px;
  top:206px;
  width:92px;
  height:18px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:610px;
  top:204px;
  width:80px;
  height:22px;
}
#u267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u267_input:disabled {
  color:grayText;
}
