<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <link rel="shortcut icon" href="favicon.ico"> <link href="/static/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
{#        <div class="row">#}
{#            <div class="col-sm-5">#}
{#                <div class="jumbotron">#}
{#                    <h1>表单向导</h1>#}
{#                    <p>Smart UI 部件允许您快速创建表单向导接口。</p>#}
{#                    <p><a href="http://www.jquery-steps.com/GettingStarted" target="_blank" class="btn btn-primary btn-lg" role="button">了解 jQuery Steps</a>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-7">#}
{#                <div class="ibox float-e-margins">#}
{#                    <div class="ibox-title">#}
{#                        <h5>基础表单向导</h5>#}
{#                        <div class="ibox-tools">#}
{#                            <a class="collapse-link">#}
{#                                <i class="fa fa-chevron-up"></i>#}
{#                            </a>#}
{#                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_wizard.html#">#}
{#                                <i class="fa fa-wrench"></i>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu dropdown-user">#}
{#                                <li><a href="form_wizard.html#">选项1</a>#}
{#                                </li>#}
{#                                <li><a href="form_wizard.html#">选项2</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                            <a class="close-link">#}
{#                                <i class="fa fa-times"></i>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="ibox-content">#}
{#                        <p>#}
{#                            这是一个简单的表单向导示例#}
{#                        </p>#}
{#                        <div id="wizard">#}
{#                            <h1>第一步</h1>#}
{#                            <div class="step-content">#}
{#                                <div class="text-center m-t-md">#}
{#                                    <h2>第一步</h2>#}
{#                                    <p>#}
{#                                        这是第一步的内容#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <h1>第二步</h1>#}
{#                            <div class="step-content">#}
{#                                <div class="text-center m-t-md">#}
{#                                    <h2>第二步</h2>#}
{#                                    <p>#}
{#                                        这是第二步的内容#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <h1>第三步</h1>#}
{#                            <div class="step-content">#}
{#                                <div class="text-center m-t-md">#}
{#                                    <h2>第三步</h2>#}
{#                                    <p>#}
{#                                        这是第三步的内容#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>开始创建-></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_wizard.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="form_wizard.html#">选项1</a>
                                </li>
                                <li><a href="form_wizard.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="form" action="form_wizard.html#" class="wizard-big">
                            <h1>确认日期</h1>
                            <fieldset>
                                你最近一次创建工资单日期为：2016.10.27!

                            </fieldset>
                            <h1>选择会员继续操作</h1>
                            <fieldset>
                                <div class="ibox-content">

                                            <table class="table table-bordered">
                                                <thead>
                                                <th>发票编号</th>
                                                <th>发票类型</th>
                                                <th>创建日期</th>
                                                <th>状态</th>
                                                <th>会员</th>
                                                <th>金额</th>
                                                <th>说明</th>
                                                <th>银行账号</th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>001</td>
                                                        <td>工资单</td>
                                                        <td>2016-11-11</td>
                                                        <td>处理中</td>
                                                        <td>张文文</td>
                                                        <td>1000.00</td>
                                                        <td>本月缺三天</td>
                                                        <td>中行622771345678120</td>
                                                        <td><input type="checkbox"/></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                            </fieldset>



                            <h1>完成</h1>
                            <fieldset>
                                <h2>创建成功!</h2>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/static/js/content.min.js?v=1.0.0"></script>
    <script src="/static/js/plugins/staps/jquery.steps.min.js"></script>
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/plugins/validate/messages_zh.min.js"></script>
    <script>
        $(document).ready(function(){$("#wizard").steps();$("#form").steps({bodyTag:"fieldset",onStepChanging:function(event,currentIndex,newIndex){if(currentIndex>newIndex){return true}if(newIndex===3&&Number($("#age").val())<18){return false}var form=$(this);if(currentIndex<newIndex){$(".body:eq("+newIndex+") label.error",form).remove();$(".body:eq("+newIndex+") .error",form).removeClass("error")}form.validate().settings.ignore=":disabled,:hidden";return form.valid()},onStepChanged:function(event,currentIndex,priorIndex){if(currentIndex===2&&Number($("#age").val())>=18){$(this).steps("next")}if(currentIndex===2&&priorIndex===3){$(this).steps("previous")}},onFinishing:function(event,currentIndex){var form=$(this);form.validate().settings.ignore=":disabled";return form.valid()},onFinished:function(event,currentIndex){var form=$(this);form.submit()}}).validate({errorPlacement:function(error,element){element.before(error)},rules:{confirm:{equalTo:"#password"}}})});
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>